{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Rokas Rudzianskas - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Rokas Rudzianskas Blog"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot">
			<img src="{% static 'images/rokas.png' %}" alt="Rokas Rudzianskas" />
		</div>
		
		<div id="name">
			<h1 >Rokas Rudzianskas</h1>
			<h2 >Founder of CONNEXIOUS and Brainlyemails</h2>
		</div>
		
		<div id="contactDetails" >
			<ul>
				<li><a target="_blank">rokas@rookas.com</a></li>
				<li><a href="http://www.rookas.com">www.rookas.com</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
                    <p>"Rokas Rudzianskas is a pioneer in Web Development who created one of the first Internet advertising networks back in 2005 and sold it to a publicly traded company at the height of the dot com boom. He then went on to create the best-selling Submission-Spider search engine submission software that's been used by over 3 million individuals and small businesses in over 45 countries. Today he develops and teaches Web Development courses at rookascode.com the online code school he founded. Rokas graduated with honors with a degree in economics from Washington University in St. Louis where he was an Artsci Scholar."</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Code with Rookas</h2>
					<p class="subDetails">Code school</p>
                    <p>Online School with over 60,000 students learning to code. Wrote, filmed, edited, and produced over 50 online video courses teaching a variety of programming technologies, including: Django, Python, Ruby on Rails, Node, Javascript, PHP, HTML, CSS, SQL, PostgreSQL, MySQL, and more...</p>
				</article>
				
				<article>
					<h2>Chairman</h2>
					<p class="subDetails">MARKET-TEK ENTERPRISES, INC.</p>
                    <p>Created one of the Internet's earliest SEO Marketing tools, the "Submission-Spider" Search Engine Submission Tool. Software was used by over three million individuals, businesses, and governments in over forty six countries around the world.</p>
				</article>
				
				<article>
					<h2>The Company founder and CEO</h2>
					<p class="subDetails">COMPANY CREATOR</p>
                    <p>Built one of the Internet's very first Advertising Networks and sold the company to a publicly listed (Nasdaq) company at the height of the first dot-com boom of the late 90's.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>FRONT & BACK END</li>
					<li>JS FRAMEWORKS</li>
					<li>TENSOR FLOW</li>
					<li>ADVERTISING</li>
					<li>MARKETING</li>
					<li>SOCIAL MEDIA</li>
					<li>ADOBE CREATIVE CLOUD</li>
					<li>GOOGLE SEO</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>WASHINGTON UNIVERSITY IN ST. LOUIS BACHELOR OF ARTS
</h2>
					<p class="subDetails">Qualification</p>
					<p>Economics - With Honors
Graduated In Three Years</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>